./Basico/ServerCentral.class
./Basico/ServerHoroscopo.class
./Basico/ServerClima.class
./Basico/Cliente.class

git rm --cached ./Medio/*.class

./Avanzado/ServerCentral.class
./Avanzado/ServerHoroscopo.class
./Avanzado/ServerClima.class
./Avanzado/Cliente.class